@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Override global body styles */
body.modal-open {
  overflow: hidden;
}

.category-card {
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 1.5px solid #644117;
}

.category-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.category-img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: cover;
}

.category-info h4 {
  font-weight: 700;
  color: #333;
}

.category-info p {
  margin: 0;
  color: #555;
  font-size: 0.95rem;
}

.catName {
  background-color: #c72c48;
  color: #efdecd;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 18px;
  padding: 8px;
  font-weight: bold;
}
